html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4D4D56;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.container h1 {
    float: left;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 40px;
}

#contact {
    font-weight: bold;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #50B0E1;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #50B0E1;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}



#tagline {
    padding: 125px 125px;
    text-align: center;
}

#tagline h1 {
    font-size: 80px;
}

#tagline p {
    font-size: 30px;
    font-style: italic;
    position: relative;
    bottom: 40px;
}

.logo {
    width: 20%;
    position: absolute;
}

#flatiron {
    width: 35%;
}

.section {
    padding: 20px 20px 20px 20px;
}

.column {
    position: relative;
    text-align: center;
    color: white;
    float: left;
    width: 32%;
    padding: 5px;
} 

.row {
    position: relative;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;
}

.hide {
    display: none;

     /*figure out transition for hover here or below*/ 
}

#dave-sara:hover + .hide {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black;
}

.section {
    text-align: left;
    padding: 20% 20% 20% 20%;
}

#container {
    width: 600px;
    height: 400px;
    position: relative;
    background-color: rgb(156, 152, 152);
}

#myAnimation {
    width: 200px;
    height: 200px;
    position: absolute;
}

#buttons {
    text-align: center;
}

button {
    background-color:#50B0E1;
    border: none;
    padding: 15px 15px;
    border-radius: 20%;
    color: whitesmoke;
    font-size: 20px;

}

button:hover {
    background-color: darkblue;
    border-width: thick;
    border-color: whitesmoke;
    cursor: pointer;
}